<nav class="navigation-default"  style="background-color: #ffcccc">
  <div class="nav-wrapper">
    <div class="left-nav">
      <a href="{{ url_for('main_bp.home') }}">Home</a>
    </div>
    <div class="right-nav">
      <a href="{{ url_for('auth_bp.login') }}">LOGIN</a>
      <a href="{{ url_for('auth_bp.signup') }}">SIGNUP</a>
    </div>
  </div>
</nav>