{% extends "layout.jinja2" %}

{% block pagestyles %}
  <link href="{{ url_for('static', filename='dist/css/landing.css') }}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}

{% if current_user.id %}
    {% include "navigation-loggedin.jinja2" %}
{% else %}
    {% include "navigation-default.jinja2" %}
{% endif %}

<p class="posts-title">Read Post</p>

<div id="read-block">
    <p class="read-post"> {{ post.title }} </p>
    <br><br><br>
    <p class="read-post"> {{ post.content }} </p>
</div>
{% endblock %}